.vscode/.ropeproject/objectdb
*.bak
*.erc
*.log
fp-info-cache
keycad_lib_sklib.py
keycad-kinjector.json
keycad.bck
keycad.dcm
keycad.dsn
keycad.kicad_pcb
keycad.kicad_pcb-bak
keycad.net
keycad.pro
keycad.ses
ptvsd_launcher_lib_sklib.py
ptvsd_launcher.net
