keycad.kicad_pcb
keycad.net
*.erc
*.log
fp-info-cache
keycad_lib_sklib.py
*.bak
keycad-kinjector.json
keycad.pro
.vscode/.ropeproject/objectdb
keycad.bck
keycad.dcm
keycad.dsn
keycad.kicad_pcb-bak
keycad.ses
